<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div *ngIf="!hasId">
        <h1><u>Create User</u>:</h1>
    </div>
    <div *ngIf="hasId">
        <h1><u>Edit User</u>:</h1>
    </div>
    <form [formGroup]="userCreateForm">
        <div>
            <label>Name</label>
            <input type="text" formControlName="name">
        </div>
        <div>
            <label>Email</label>
            <input type="text" formControlName="email" *ngIf="!hasId">
            <input type="text" formControlName="email" *ngIf="hasId" readonly>
        </div>
        <div *ngIf="!hasId">
            <label>Password</label>
            <input type="password" formControlName="password">
        </div>
        <div>
            <label>Phone Number</label>
            <input type="text" formControlName="phone">
        </div>
        <div>
            <input type="button" value="Submit" *ngIf="!hasId" (click)="createUser()">
            <input type="button" value="Submit" *ngIf="hasId" (click)="editUser()">
            &nbsp;
            <input type="button" value="Back" (click)="back()">
        </div>
    </form>
</body>
</html>