<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <h1><u>User List</u>:</h1>
    <div>
        <button>
            <a routerLink="/user/create">Add User</a>
        </button>
        &nbsp;
        <button>
            <a routerLink="/dashboard">Goto Dashboard</a>
        </button>
    </div>
    <table>
        <tr>
            <th>SI No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Issued Book</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let user of userList; let i = index;">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td><button (click)="bookDetails(user.id)">View Issued Book</button></td>
            <td>
                <i class="fa fa-trash" (click)="deleteUser(user.id)"></i> &nbsp;
                <i class="fa fa-edit" (click)="editUser(user.id)"></i> &nbsp; 
                <button (click)="bookIssue(user.id)">Issue Book</button>
            </td>
        </tr>
        <tr *ngIf="!userList.length">
            <td colspan="5">No Data Found</td>
        </tr>
    </table>
</body>
</html>