<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1><u>Edit Profile</u>:</h1>
    </div>
    <form [formGroup]="userEditProfileForm">
        <div>
            <label>Name</label>
            <input type="text" formControlName="name">
        </div>
        <div>
            <label>Phone Number</label>
            <input type="text" formControlName="phone">
        </div>
        <div>
            <input type="button" value="Submit">
            &nbsp;
            <input type="button" value="Back" (click)="back()">
        </div>
    </form>
</body>
</html>